@import url('http://fonts.googleapis.com/css?family=Montserrat:500');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    background-color: transparent;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    border:none;
   
}

*:focus
{
    outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*=============================================================*/
/* Check Result Form Fill In Area */

.checkResultForm
{
    background-color:#EBEDF5;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.5s;
    padding: 50px;
}

.form-title-area
{
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    min-width: 0;
    margin-bottom: 30px;
    font-family:"Montserrat", sans-serif;
}

.form-title
{
    font-size: 25px;
    font-weight: bold;
}


.instruction-text
{
    font-size: 12px;
    font-weight: lighter;
}

.step-text
{
    font-size: 17px;
    font-weight: 800;
    text-decoration: underline;
    margin-bottom: 5px;
}

.attribute-checking
{
    font-weight: 800;
}

.custom-button
{
    align-items:center;
    background-color:#0E233F;
    border:0;
    border-radius: 10px;
    display: inline-flex;
    color: white;
    cursor: pointer;
    justify-content:center;
    outline: 0px;
    font-weight: 700;
    width: auto;
    height: 40px;
    font-size: 14px;
    padding: 0px 24px;
    line-height:24px;
    margin-top: 5px;
    margin-right: 8px;
}



.custom-button:hover
{
    background-color:#284468;
    color: white;
    box-shadow: 10px 5px 13px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*=============================================================*/