{% extends "baseAdmin.html" %}
{% block admin %}
    <!-- Content Area -->
    <div class = "container">
        <div class = "row">
            <div class = "col-md-3">
                <div class = "d-flex card flex-column mb-3 p-5" style = "background-color: #cee1ff">
                    <div class = " text-center mt-3">
                        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" class="rounded-circle" width="150" height = "150">
                        <div class = "text-area mt-3">
                            <div class = "nameRole mb-2">{{current_user.name}}</div>
                            <div class = "text-muted role-type mb-2"> {{current_user.roles[0].name}} </div>
                            <a href = "{{url_for('account')}}" class = "btn btn-primary"> Edit Profile </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Annoucement</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class = "col-md-9 card">
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-1">
                    <div class="col">
                        <div class="card h-100">
                            <h5 class="card-header text-center">Total Active Account </h5>
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <h3 class="card-title text-center">{{total_account}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <h5 class="card-header text-center">To Do List </h5>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Maintain the Website
                                    </li>
                                    <li class="list-group-item">
                                        Get the Latest Update About the SPM Subject
                                    </li>
                                    <li class="list-group-item">
                                        Test
                                    </li>
                                    <li class="list-group-item">
                                        Test
                                    </li>
                                    <li class="list-group-item">
                                        Test
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <h5 class="card-header text-center">Total School </h5>
    
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <h3 class="card-title text-center">
                                    {{total_school}} School 
                                </h3>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <h5 class="card-header text-center">
                                Total SPM Subject    
                            </h5>
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <h3 class="card-title text-center">
                                    {{total_subject}} Subjects 
                                </h3> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------->

{% endblock admin%}


