{% extends "baseAdmin.html" %}

{% block admin %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .chosen-choices 
    {
        padding: 0.375rem 0.75rem !important;
        border-radius: 0.25rem !important;
        border: 1px solid #ced4da !important;
    }
</style>    

    <!-- Content Area -->
    <div class = "container-fluid">
        <div class = "text-center container">
            <h2> Manage Subject & Electives</h2>
            <hr>
            <h4>Managing The Subject List & The Information</h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-lg btn-warning mt-3 mb-3" data-bs-toggle="modal" data-bs-target="#add-Subject-modal">
                Add Subject
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="add-Subject-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add-Subject-modalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="add-Subject-modalLabel">Add A Subject</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form Here -->
                        <form class = "needs-validation" method = "POST" action = "" novalidate >
                            <!-- Protect from Forgery Attacks so need the hidden Tag -->
                            {{ form.hidden_tag() }}

                            <!-- Subject Name -->
                            <div class = "row justify-content-center mb-3">
                                <div class = "col-sm-2 col-form-label">
                                    {{ form.nameSubject.label(class="form-label") }}
                                </div>

                                <div class = "col-sm-5">
                                    <!-- Invalid Message Error -->
                                    {% if form.nameSubject.errors %}
                                        {{ form.nameSubject(class="form-control is-invalid") }}
                                        <div class = "invalid-feedback">
                                            {% for error in form.nameSubject.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <!-- Valid -->
                                        {{ form.nameSubject(class="form-control") }}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Subject Category -->
                            <div class = "row justify-content-center mb-3">
                                <div class = "col-sm-2 col-form-label">
                                    {{ form.subjectCategory.label(class="form-label") }}
                                </div>

                                <div class = "col-sm-5">
                                    <!-- Invalid Message Error -->
                                    {% if form.subjectCategory.errors %}
                                        {{ form.subjectCategory(class="form-select is-invalid") }}
                                        <div class = "invalid-feedback">
                                            {% for error in form.subjectCategory.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <!-- Valid -->
                                        {{ form.subjectCategory(class="form-select") }}
                                    {% endif %}
                                </div>
                            </div>
                            
                            <!-- Subject Description -->
                            <div class = "row justify-content-center mb-3">
                                <div class = "col-sm-2 col-form-label">
                                    {{ form.subjectDescription.label(class="form-label") }}
                                </div>

                                <div class = "col-sm-5">
                                    <!-- Invalid Message Error -->
                                    {% if form.subjectDescription.errors %}
                                        {{ form.subjectDescription(class="form-control is-invalid") }}
                                        <div class = "invalid-feedback">
                                            {% for error in form.subjectDescription.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <!-- Valid -->
                                        {{ form.subjectDescription(class="form-control") }}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Subject Career -->
                            <div class = "row justify-content-center mb-3">
                                <label class = "col-sm-2 col-form-label">
                                    Career Options
                                </label>
                                <div class = "col-sm-5">
                                    <select data-placeholder="Career Option..." class = "chosen-select chosen-choices " name = "checkboxCareer" multiple tabindex="4">
                                        {% for career in careerOption %}
                                            <option value="{{career.career_name}}">{{ career.career_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                            </div>


                            <!-- Form 4 Syallabus -->
                            <div class = "row form-group justify-content-center mb-3">
                                <label class = "col-sm-2 col-form-label" for = "">
                                    Form 4 Syllabus
                                </label>
                                <div class = "input-wrapper col-sm-5">
                                    <div class="input-group mb-3">
                                        <input class = "form-control " type = "text" name = "field[]" value = ""/>
                                        <a class="btn btn-outline-info add-input"  href="javascript:void(0);" title = "Add Input" id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-file-plus-fill" viewBox="0 0 16 16">
                                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                                          </svg>
                                        </a>
                                    </div>      
                                </div>
                                
                            </div>

                            <div class = "row form-group justify-content-center mb-3">
                                <label class = "col-sm-2 col-form-label" for = "">
                                    Form 5 Syllabus
                                </label>
                                <div class = "input-wrapper-2 col-sm-5">
                                    <div class="input-group mb-3">
                                        <input class = "form-control " type = "text" name = "field2[]" value = ""/>
                                        <a class="btn btn-outline-info add-form5-input"  href="javascript:void(0);" title = "Add Input"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-file-plus-fill" viewBox="0 0 16 16">
                                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                                          </svg>
                                        </a>
                                    </div>      
                                </div>
                                
                            </div>

                            

            
                            <p class = "error error--hidden">
            
                            </p>
                            <div class = "text-center">
                                {{ form.submit(class = "btn btn-primary mt-3")}}
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                    </div>
                </div>
                </div>
            </div>
            <br>
            <div class = "col-sm-8 offset-sm-2 mx-auto py-3 text-center" id = "search_school_form">
                <input class = "form-control form-control-lg search-school-bar" placeholder = "Find Subject Name" id = "schoolSearch" >
            </div>
        </div>
        <div clas = "table-responsive-lg" style = "padding:50px;">
            <table class="table text-center">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Subject Section</th>
                    <th scope="col">Subject Description</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for subject in subject_list.items %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{subject.subject_title}}</td>
                            <td>{{subject.subject_category}}</td>
                            <td>
                                <div class = "d-flex justify-content-center" >
                                    <p>
                                        {{subject.subject_description}}
                                    </p>
                                </div>

                            </td>
                            <td>
                                <div class = "d-flex flex-row justify-content-center action-area">
                                    <!-- Edit Button -->
                                    <div class = "edit-area">
                                        <a class = "btn btn-info" href = "{{url_for('update_subject', subject_id = subject.id)}}">Edit</a>
                                    </div>

                                    <!-- Delete button -->
                                    <div class = "delete-area">
                                        <button class = "btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{subject.id}}">Delete</button>
                                    </div>
                                    <!-- Delete Modal -->
                                    <div class="modal fade" id="deleteModal-{{subject.id}}"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteBackdropLabel-{{subject.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="deleteBackdropLabel-{{subject.id}}">Delete {{subject.subject_title}} Subject?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h6>Are you sure you want to delete the {{subject.subject_title}} subject?</h6>
                                                </div>
                                                <div class="modal-footer">
                                                    <form action = "{{url_for('delete_subject', subject_id = subject.id)}}" method = "POST">
                                                        
                                                        <input class = "btn btn-danger" type = "submit" value = "Delete">
                                                    </form>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example" style = "float:right">
                <ul class = "pagination">
                    {% if subject_list.has_prev %}
                        <li class = "page-item"><a class = "page-link" href = "{{url_for('manageSubjectElectives', page = subject_list.prev_num)}}">Previous</a></li>
                    {% else %}
                        <li class = "page-item disabled"><a class = "page-link" tabindex="-1" aria-disabled="true" href = "#">Previous</a></li>
                    {% endif %}
                    {% for page_num in subject_list.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
                        {% if page_num %}
                            {% if subject_list.page == page_num %}
                                <li class = "page-item active"><a class = "page-link " href = "{{url_for('manageSubjectElectives', page = page_num)}}">{{page_num}}</a></li>
                                
                            {% else %}
                                <li class = "page-item"><a class = "page-link" href = "{{url_for('manageSubjectElectives', page = page_num)}}">{{page_num}}</a></li>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                        
                    {% endfor %}

                    {% if subject_list.has_next %}
                        <li class = "page-item"><a class = "page-link" href = "{{url_for('manageSubjectElectives', page = subject_list.next_num)}}">Next</a></li>
                    {% else %}
                        <li class = "page-item disabled"><a class = "page-link" tabindex="-1" aria-disabled="true" href = "#">Next</a></li>
                    {% endif %}
                </ul>
                
            </nav>

            <!-- <nav aria-label="Page navigation example" style = "float:right">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav> -->
        </div>

    </div>

    <script>
        // Form 4 AJAX
        $(document).ready(function(){
            var max_input_fields = 15;
            var add_input = $('.add-input');
            var input_wrapper = $('.input-wrapper');
            var new_input = '<div class = "input-group mb-3"><input class = "form-control " type = "text" name = "field[]" value = ""/><a class="btn btn-outline-danger remove-input"  href="javascript:void(0);" title = "Remove Input" ><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-file-x-fill" viewBox="0 0 16 16"><path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146 8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708z"/></svg></a></div>';
            var add_input_count = 1; 
            $(add_input).click(function(){
                if(add_input_count < max_input_fields){
                    add_input_count++; 
                    $(input_wrapper).append(new_input); 
                }
            });
            $(input_wrapper).on('click', '.remove-input', function(e){
                e.preventDefault();
                $(this).parent('div').remove();
                add_input_count--;
            });
        });

        // Form 5 AJAX
        $(document).ready(function(){
            var max_input_fields2 = 15;
            var add_input2 = $('.add-form5-input');
            var input_wrapper2 = $('.input-wrapper-2');
            var new_input2 = '<div class = "input-group mb-3"><input class = "form-control " type = "text" name = "field2[]" value = ""/><a class="btn btn-outline-danger remove-form5-input"  href="javascript:void(0);" title = "Remove Input" ><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-file-x-fill" viewBox="0 0 16 16"><path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146 8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708z"/></svg></a></div>';
            var add_input_count2 = 1; 
            $(add_input2).click(function(){
                if(add_input_count2 < max_input_fields2){
                    add_input_count2++; 
                    $(input_wrapper2).append(new_input2); 
                }
            });
            $(input_wrapper2).on('click', '.remove-form5-input', function(e){
                e.preventDefault();
                $(this).parent('div').remove();
                add_input_count2--;
            });
        });
    </script>
    <!-- Script -->
    <script type="text/javascript">
        $(document).ready(function () {
         $('.chosen-select').chosen({ width:"100%" , max_selected_options: 5});
         });
    </script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
            })
        })()
    </script>

{% endblock admin%}